
@model List<Persona>
@{
    ViewData["Title"] = "ABM De Personas";
}


<div class="text-center">
    <h1 class="display-4">ABM de Personas </h1>
    <p>
        <i>Aquí podrá:</i> <br />
       
        <li><b>Consultar usuarios registrados.</b></li> <br />
        
    </p>
</div>
<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>DNI</th>
                    <th>Addres</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
               
            <tbody>
                    @foreach (var persona in Model )
                    {
                    <tr>
                        <td>@persona.Id</td>
                        <td>@persona.Nombre</td>
                        <td>@persona.Apellido</td>
                        <td>@persona.Dni</td>
                        <td>@persona.Domicilio</td>
                        <td>@persona.Edad</td>
                        
                    </tr>
                    }
            </tbody>
        </table>
    </div>
</div>
